@import "bootstrap/dist/css/bootstrap.min.css";

body{
    font-family: serif;
    
}

.carta {
    width: 280px;
    height: 420px;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);

 }

#palo2 {
    transform: rotate(180deg);
}
